{% extends "global/Page.html" %} {% load otree static %} 

{% block content %}
    <h1>Instrucciones Generales</h1>
    <p> En esta actividad responderá 10 preguntas sobre <i>tres casos hipotéticos</i>. </p>
    
    <p>Por completar la actividad y responder la encuesta final recibirá $15.000. Además, podrá ser seleccionado para recibir una ganancia adicional descrita a continuación. </p>

    <h3>Ganancia Adicional</h3>

    <p> El valor de la ganancia adicional estará entre $35.000 y $65.000. 
        Ésta depende de sus decisiones, de las decisiones de los demás participantes, y del azar.</p>

    <p> Escribanos al WhatsApp <a href="https://api.whatsapp.com/send?phone=573157304369"
        target="_blank">3157304369</a> si necesita ayuda, y uno de los monitores se comunicará con usted para brindarle asistencia en la actividad. </p> 
    
    <p>Por favor silencie su teléfono móvil y evite cualquier distracción en los siguientes 30 minutos.</p>
    
    <p><b>
        {% formfields %}
    </b></p>

    <p> Haga <I>clic</I> en "Siguiente" para comenzar.</p>
    {% next_button %} 
    {% endblock %}