{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <!-- custom style sheet-->
    <link href="{% static 'eet_transfers/css/styles.css' %}" rel="stylesheet">

    <!-- set order of x- and y-list -->
    {% if Constants.one_page %}
        {% if list_ordering == 'xy' %}
            <style type="text/css">
                #x-list { order: 1; }
                #y-list { order: 2; }
            </style>
        {% else %}
            <style type="text/css">
                #x-list { order: 2; }
                #y-list { order: 1; }
            </style>
        {% endif %}
    {% endif %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** SCRIPTS *** #}
{# ****************************************************************************************************************** #}
{% block scripts %}
    <!-- consistency -->
    {% if Constants.enforce_consistency and not Constants.shuffle_lists %}
        <script src="{% static 'eet_transfers/js/consistency.js' %}"></script>
    {% endif %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Your Decisions" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    {# ----------------------------------------------------------------------------------------------------------- #}
    {# --- x-List --- #}
    {# ----------------------------------------------------------------------------------------------------------- #}
    {% if show_x %}
        <div class="card" id="y-list">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "Opción A (Tiempo)" %}</th>
                        <th>A &nbsp;&nbsp;&nbsp; B</th>
                        <th>{% trans "Opción B (Dinero)" %}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p1" value="A" class="y-items" required>
                            <input type="radio" name="p1" value="B" class="y-items" required>
                        </td>
                        <td>$ 0</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p2" value="A" class="y-items" required>
                            <input type="radio" name="p2" value="B" class="y-items" required>
                        </td>
                        <td>$ 10.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p3" value="A" class="y-items" required>
                            <input type="radio" name="p3" value="B" class="y-items" required>
                        </td>
                        <td>$ 20.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p4" value="A" class="y-items" required>
                            <input type="radio" name="p4" value="B" class="y-items" required>
                        </td>
                        <td>$ 30.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p5" value="A" class="y-items" required>
                            <input type="radio" name="p5" value="B" class="y-items" required>
                        </td>
                        <td>$ 40.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p6" value="A" class="y-items" required>
                            <input type="radio" name="p6" value="B" class="y-items" required>
                        </td>
                        <td>$ 50.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p7" value="A" class="y-items" required>
                            <input type="radio" name="p7" value="B" class="y-items" required>
                        </td>
                        <td>$ 60.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p8" value="A" class="y-items" required>
                            <input type="radio" name="p8" value="B" class="y-items" required>
                        </td>
                        <td>$ 70.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p9" value="A" class="y-items" required>
                            <input type="radio" name="p9" value="B" class="y-items" required>
                        </td>
                        <td>$ 80.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p10" value="A" class="y-items" required>
                            <input type="radio" name="p10" value="B" class="y-items" required>
                        </td>
                        <td>$ 90.000</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <div class="card" id="h-slider-div" style="text-align: center;">
            <table>
                <tr>
                    <td style="text-align: center;"><b id="d_pa">$</b></td>
                    <td style="text-align: center; width: 45%; min-width: 250px;" rowspan="2">
                        <input type="range" min="0" max="600000" value="300000" step="10000" id="sliderDinero" class="slider">
                    </td>
                    <td style="text-align: center;"><b id="d_pb">$</b></td>
                </tr>
                <tr>
                    <td style="text-align: center;">Persona A<br>Gana 1.4 Millones</td>
                    <td style="text-align: center;">Persona B<br>Gana 2.8 Millones</td>
                </tr>
            </table>
        </div>

        <style type="text/css">
            .slider{
                border-radius: 5px;
                min-width: 250px;
                width:100%;
                background: #d3d3d3;
                outline: none;
                transition: opacity .2s;
            }

        </style>

        <script>
            var value_slider = document.getElementById("sliderDinero");
            var dinero_pa = document.getElementById("d_pa");
            var dinero_pb = document.getElementById("d_pb");

            dinero_pa.innerHTML = "$ "+numberWithPoints(value_slider.value);
            dinero_pb.innerHTML = "$ "+numberWithPoints(600000-value_slider.value);
            sliderDinero.oninput = function() {
                dinero_pa.innerHTML = "$ "+numberWithPoints(value_slider.value);
                dinero_pb.innerHTML = "$ "+numberWithPoints(600000-value_slider.value);
            }

            function numberWithPoints(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            }
        </script>
    {% endif %}

    {# ----------------------------------------------------------------------------------------------------------- #}
    {# --- y-List --- #}
    {# ----------------------------------------------------------------------------------------------------------- #}
    {% if show_y %}
    <div class="card" id="y-list">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "Opción A (Tiempo)" %}</th>
                        <th>A &nbsp;&nbsp;&nbsp; B</th>
                        <th>{% trans "Opción B (Dinero)" %}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p1" value="A" class="y-items" required>
                            <input type="radio" name="p1" value="B" class="y-items" required>
                        </td>
                        <td>$ 0</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p2" value="A" class="y-items" required>
                            <input type="radio" name="p2" value="B" class="y-items" required>
                        </td>
                        <td>$ 10.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p3" value="A" class="y-items" required>
                            <input type="radio" name="p3" value="B" class="y-items" required>
                        </td>
                        <td>$ 20.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p4" value="A" class="y-items" required>
                            <input type="radio" name="p4" value="B" class="y-items" required>
                        </td>
                        <td>$ 30.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p5" value="A" class="y-items" required>
                            <input type="radio" name="p5" value="B" class="y-items" required>
                        </td>
                        <td>$ 40.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p6" value="A" class="y-items" required>
                            <input type="radio" name="p6" value="B" class="y-items" required>
                        </td>
                        <td>$ 50.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p7" value="A" class="y-items" required>
                            <input type="radio" name="p7" value="B" class="y-items" required>
                        </td>
                        <td>$ 60.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p8" value="A" class="y-items" required>
                            <input type="radio" name="p8" value="B" class="y-items" required>
                        </td>
                        <td>$ 70.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p9" value="A" class="y-items" required>
                            <input type="radio" name="p9" value="B" class="y-items" required>
                        </td>
                        <td>$ 80.000</td>
                    </tr>

                    <tr>
                        <td>8 horas</td>
                        <td>
                            <input type="radio" name="p10" value="A" class="y-items" required>
                            <input type="radio" name="p10" value="B" class="y-items" required>
                        </td>
                        <td>$ 90.000</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <div class="card" id="h-slider-div" style="text-align: center;">
            <table>
                <tr>
                    <td style="text-align: center;"><b id="d_pa">$</b></td>
                    <td style="text-align: center; width: 45%; min-width: 250px;" rowspan="2">
                        <input type="range" min="0" max="600000" value="300000" step="10000" id="sliderDinero" class="slider">
                    </td>
                    <td style="text-align: center;"><b id="d_pb">$</b></td>
                </tr>
                <tr>
                    <td style="text-align: center;">Persona A<br>Gana 1.4 Millones</td>
                    <td style="text-align: center;">Persona B<br>Gana 2.8 Millones</td>
                </tr>
            </table>
        </div>

        <style type="text/css">
            .slider{
                border-radius: 5px;
                min-width: 250px;
                width:100%;
                background: #d3d3d3;
                outline: none;
                transition: opacity .2s;
            }

        </style>

        <script>
            var value_slider = document.getElementById("sliderDinero");
            var dinero_pa = document.getElementById("d_pa");
            var dinero_pb = document.getElementById("d_pb");

            dinero_pa.innerHTML = "$ "+numberWithPoints(value_slider.value);
            dinero_pb.innerHTML = "$ "+numberWithPoints(600000-value_slider.value);
            sliderDinero.oninput = function() {
                dinero_pa.innerHTML = "$ "+numberWithPoints(value_slider.value);
                dinero_pb.innerHTML = "$ "+numberWithPoints(600000-value_slider.value);
            }

            function numberWithPoints(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            }
        </script>
    {% endif %}


    {# ----------------------------------------------------------------------------------------------------------- #}
    {# --- one choice per page --- #}
    {# ----------------------------------------------------------------------------------------------------------- #}
    {% if Constants.one_choice_per_page %}
    <div class="card" id="x-list">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">{% trans "Option 'Left'" %}</th>
                    <th></th>
                    <th colspan="2">{% trans "Option 'Right'" %}</th>
                </tr>
                <tr>
                    <th>{% trans "Your Payoff" %}</th>
                    <th>{% trans "Player B's Payoff" %}</th>
                    <th></th>
                    <th>{% trans "Your Payoff" %}</th>
                    <th>{% trans "Player B's Payoff" %}</th>
                </tr>
            </thead>

            <tbody>
                {% for field, xy_a, xy_i, e_a, e_i in choice %}
                    <tr>
                        <!-- option "left" -->
                        <td>{{ xy_a|c }}</td>
                        <td>{{ xy_i|c }}</td>

                        <!-- radio select form fields -->
                        <td class="formfield">
                            <input type="radio" name="{{ field }}" value="A" required>
                            <input type="radio" name="{{ field }}" value="B" required>
                        </td>

                        <!-- option "right" -->
                        <td>{{ e_a|c }}</td>
                        <td>{{ e_i|c }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% next_button %}

{% endblock %}
