{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'parents/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Pregunta 2" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

<div class="wrapper">
<p>
Ahora suponga que     
{% if camila %}
   Camila
{% else %}
   Camilo
{% endif %} debe decidir entre encargarse personalmente de ayudar a sus padres o <b>pagarle a un familiar</b>.  
En esta pregunta asuma que{% if camila %}
Camila
{% else %}
Camilo
{% endif %} es quien le paga al familiar para que ayude a sus padres durante 8 horas a la semana.</p>

<p>A continuación, le presentaremos dos opciones: un monto de dinero que{% if camila %}
Camila
{% else %}
Camilo
{% endif %} puede <b>pagarle a un familiar</b> para que ayude a sus padres, 
o la opción de que{% if camila %}
Camila
{% else %}
Camilo
{% endif %} dedique 8 horas a ayudarles. 
Cuando el monto es bajo, es más “barato” pagarle al familiar que le ayude a sus padres; 
y cuando el monto es alto, es más “barato” ayudarles las 8 horas que pagarle al familiar.</p>

<p>De nuevo, le presentaremos 4 situaciones diferentes. 
<b>En todas las situaciones el número de horas que debería dedicar {% if camila %}
Camila
{% else %}
Camilo
{% endif %} es de 8 horas, pero la cantidad de dinero que deberá pagarle al familiar irá cambiando</b>.
</div>
{% next_button %}
{% endblock %}