{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'parents/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Pregunta 2" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

<div class="wrapper">
        <p>
        {% if camila %}
            Camila
        {% else %}
            Camilo
        {% endif %} también debe decidir entre:
    <br>
    
    <b>Opción A:</b> Encargarse personalmente de ayudar a sus padres durante 8 horas a la semana.<br>
    <b>Opción B:</b> Pagar a un familiar para que ayude a sus padres durante 8 horas a la semana.<br></p>

    <p> Tenga en cuenta que la cantidad de dinero en la Opción <b>B</b> irá cambiando.</p>

</div>
{% next_button %}
{% endblock %}