{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'formal/css/custom.css' %}" rel="stylesheet">
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
<div class="card info">
    <span class="subtitle">
        <b>Caso 1: 
        {% if camila %}
        Hija única
    {% else %}
        Hijo único
    {% endif %}</b>

<p> Por favor suponga que {% if camila %}
        Camila
    {% else %}
        Camilo
    {% endif %} es {% if camila %}
        hija única.
    {% else %}
        hijo único.
    {% endif %}

    Los padres de  {% if camila %}
        Camila
    {% else %}
        Camilo
    {% endif %}  tienen 65 años, y ya no pueden trabajar. 
    Durante su vida NINGÚN padre hizo aportes a los fondos de pensiones y tampoco tienen otros ahorros. <br>
    <i>Los padres necesitan la ayuda de una persona durante 8 horas a la semana para hacer ciertas tareas. </i ></p> 
</div>
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
    <div class="wrapper">
            <p><h5>PREGUNTA 3.</h5>
            
                {% if camila %}
                    Camila
                {% else %}
                    Camilo
                {% endif %} debe decidir entre:
            <br>
            
            <b>Opción A:</b> Encargarse personalmente de ayudar a sus padres durante 8 horas a la semana.<br>
            <b>Opción B:</b> Pagar a un profesional para que ayude a sus padres durante 8 horas a la semana.<br></p>

            <p> Tenga en cuenta que la cantidad de dinero en la Opción <b>B</b> irá cambiando.</p>

        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Table - Lottery Decisions (Option A/B) -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <div class="card">
            <div class="card-header">
             ¿Qué debería hacer {% if camila %}
                Camila?
            {% else %}
                Camilo?
            {% endif %}
            </div>
            <table class="table">
                <tr>
                    <th>{% trans "Opción A<br>Tiempo:" %}</th>
                    <td>
                        {% with hi=hi lo=lo p_hi=p_hi p_lo=p_lo %}
                            {% blocktrans trimmed %}
                            Encargarse personalmente de ayudar a sus padres durante {{ hi }} horas a la semana.
                            {% endblocktrans %}
                        {% endwith %}
                    </td>
                    <td class="btn_cell">
                        {% if Constants.buttons == True %}
                            <button class="btn btn-primary choice" name="choice" value="A" required>
                                Aportar 8 horas
                            </button>
                        {% else %}
                            <input type="radio" name="choice" value="A" required>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% trans "Opción B<br>Dinero:" %}
                    </th>
                    <td>
                        {% with sure_payoff=sure_payoff %}
                            {% blocktrans trimmed %}
                            Pagarle {{ sure_payoff }} a un profesional para que ayude a sus padres durante 8 horas a la semana.
                            {% endblocktrans %}
                        {% endwith %}
                    </td>
                    <td class="btn_cell">
                        {% if Constants.buttons == True %}
                            <button class="btn btn-primary choice" name="choice" value="B" required>
                                Aportar {{ sure_payoff }}
                            </button>
                        {% else %}
                            <input type="radio" name="choice" value="B" required>
                        {% endif %}
                    </td>
                </tr>
                {% if Constants.indifference == True %}
                <tr>
                    <th>
                    </th>
                    <td>
                        {% blocktrans trimmed %}
                            I'm indifferent between Option A and Option B
                        {% endblocktrans %}
                    </td>
                    <td class="btn_cell">
                        {% if Constants.buttons == True %}
                            <button class="btn btn-primary choice" name="choice" value="I" required>
                                {% trans "Indifferent" %}
                            </button>
                        {% else %}
                            <input type="radio" name="choice" value="I" required>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
        <br>
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <!-- Progress Bar -->
        <!-- ------------------------------------------------------------------------------------------------------- -->
        {% if Constants.progress_bar == True %}
            <label>
                {% blocktrans trimmed with page=page total=total %}
                    {{ page }} de {{ total }}
                {% endblocktrans %}
            </label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:{{ progress|json }}%;">
                    <span class="sr-only"></span>
                </div>
            </div>
        {% endif %}
    </div>


    {% if Constants.buttons == False %}
        {% next_button %}
    {% endif %}

{% endblock %}
