{% extends "global/Page.html" %} {% load otree static %} 

{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'allocations/css/styles.css' %}" rel="stylesheet">
    <!-- functions and more -->
    <script src="{% static 'allocations/js/consistency.js' %}"></script>
    <!-- jquery UI -->
    <script src="{% static 'allocations/jquery-ui/jquery.js' %}"></script>
    <script src="{% static 'allocations/jquery-ui/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href="{% static 'allocations/jquery-ui/jquery-ui.css' %}">
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'parents/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Pregunta 10
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
<p>
    Ahora piense que solo 
    {% if julia %}
        Julia
    {% else %}
        Julio
    {% endif %} puede comprar la casa, es decir, pagar los 200 millones a los padres.<br> 
    ¿Cuánto tiempo cree que debería poner cada 
    {% if julia %}
    {% if luisa %}
        hija
    {% else %}
        hijo
    {% endif %}
    {% else %}
    hijo   
    {% endif %} para completar las 8 horas a la semana de ayuda que necesitan los padres? 
</p>

<p>
            <i>Haga clic sobre la línea y luego mueva el punto para decidir cuánto debería poner cada         
                {% if julia %}
                {% if luisa %}
                    hija
                {% else %}
                    hijo
                {% endif %}
                {% else %}
               hijo   
                {% endif %} .</i>
        </p>
        <!--slider --> 
        <div class="card_table" id="h-slider-div" style="text-align: center;">
            <table class="table_question">
                <tr>
                    <td style="text-align: center;"><b id="d_pa">Horas: 4</b></td>
                    <td style="text-align: center; width: 45%; min-width: 250px;" rowspan="2">
                        <input type="range" min="0" max="8" value="4" step="1" id="sliderHora_p10" class="slider_hora" name="p10">
                    </td>
                    <td style="text-align: center;"><b id="d_pb">Horas: 4</b></td>
                </tr>
                <tr>
                    <td style="text-align: center;">{% if julia %}
                        Julia
                    {% else %}
                        Julio
                    {% endif %}<br>Puede comprar<br>la casa</td>
                    <td style="text-align: center;">{% if luisa %}
                        Luisa
                    {% else %}
                        Luis
                    {% endif %}</td>
                </tr>
            </table>
        </div>
        <!--slider --> 
    <br>      
    <p> Encima de cada nombre aparece el aporte de cada 
        {% if julia %}
        {% if luisa %}
            hija,
        {% else %}
            hijo,
        {% endif %}
        {% else %}
       hijo   
        {% endif %} la suma de los aportes debe ser igual a 8 horas.</p>
    {% next_button %} 
    {% endblock %}
