{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'parents/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Pregunta 11" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

<div class="wrapper">
    <p>
        Por favor suponga que {% if julia %}
            Julia
        {% else %}
            Julio
        {% endif %} puede comprar la casa, pero ella no tiene tiempo para ayudar a los padres.
    </p>
    <p>           
        {% formfield 'p11' %}
    </p>
</div>
{% next_button %}
{% endblock %}