{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'parents/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Pregunta 12" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

<div class="wrapper">
    <p>
        Si {% if julia %}
            Julia
        {% else %}
            Julio
        {% endif %} puede comprar la casa, pero         
    {% if julia %}
        ella
    {% else %}
        el
    {% endif %} no tiene tiempo para ayudar a los padres. Usted cree que lo que debería pasar es <br> 
    "{{ p11 }}"
    </p>
    <p>
        Use los siguientes 4 minutos para escribir una justificación de respuesta:
    </p>
        <textarea name="p12" id="p12" class="form-control text_input" placeholder="Coloque sus argumentos aquí por favor" required></textarea>

</div>
{% next_button %}
{% endblock %}
