/* ****************************************************************************************************************** */
/* *** General *** */
/* ****************************************************************************************************************** */

h2 {
    text-align: center !important;
}

.page-header {
    margin: 40px 0 40px;
    padding: 0px;
    border-bottom: none;
}

.otree-btn-next {
    margin: 40px auto;
    display: inherit;
}

.wrapper, .alert {
    min-width: 700px;
    max-width: 900px;
    margin: 0 auto 20px;
}

.title_div{
    border: 2px solid #000;
    border-radius: 20px;
    padding: 10px 20px 20px 20px;
    min-width: 700px;
    max-width: 900px;
    margin: 0 auto;
}

.subtitle{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    display: block;
    width: 100%;
}

/* ****************************************************************************************************************** */
/* *** Instructions *** */
/* ****************************************************************************************************************** */

.instructions {
	width: 100%;
	height: 100%;
	background: rgba(255,255,245,0.25);
	margin: 40px auto;
    padding: 20px 20px 10px 20px;

    position:relative;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.05) inset;
       -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.05) inset;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.05) inset;

    -moz-border-radius: 5px;
         border-radius: 5px;
}


/* ****************************************************************************************************************** */
/* *** Decision/Results Table *** */
/* ****************************************************************************************************************** */

.card-header {
    padding: 15px;
    font-weight: bold;
    background-color: #fff !important;

}

.table {
    margin-bottom: 0;
}

.table>tbody>tr>th,
.table>tbody>tr>td {
    vertical-align: middle;
    padding: 15px;
    height: 65px;
    min-width: 100px;
}

.info {
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    min-width: 700px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #CCE5FF;
}

input[type="radio"]{
    margin: 7.5px;
}

.btn-success[disabled], .btn-primary[disabled] {
    opacity: 1;
}

.choice {
    min-width: 100px;
}

.btn_cell{
    text-align: center;
    margin: 0 auto;
}


/* ****************************************************************************************************************** */
/* *** Progress Bar *** */
/* ****************************************************************************************************************** */

.progress {
    height: 15px;
    margin-bottom: 30px;
}

.progress-bar {
    background-color: rgba(204, 204, 204, 0.20);
    background-image: linear-gradient(to bottom, rgba(192, 192, 192, 0.1) 0, rgba(160, 160, 160, 0.6) 100%);
    background-repeat: repeat-x;
}

label {
    font-weight: normal;
    margin-bottom: 4pt;
}

