{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'parents/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
<div class="card info">
    <span class="subtitle">
        <h3>Caso 3</h3>

    <p> Por favor suponga que 
        {% if julia %}
            Julia
        {% else %}
            Julio
        {% endif %} y 
        {% if luisa %}
            Luisa
        {% else %}
            Luis
        {% endif %} son 
        {% if julia %}
            {% if luisa %}
                hermanas
            {% else %}
                hermanos
            {% endif %}
        {% else %}
            hermanos   
        {% endif %}. 
        Sus padres tienen 65 años, y ya no pueden trabajar. 
        Durante su vida ni su padre ni su madre hicieron aportes a los fondos de pensiones, y no tienen ahorros distintos a una casa que están considerando vender para tener dinero en efectivo.</p> 
        <p>La casa vale 200 millones y corresponde al total de la herencia que podrían dejar a 
        {% if julia %}
            Julia
        {% else %}
            Julio
        {% endif %} y 
        {% if luisa %}
            Luisa
        {% else %}
            Luis
        {% endif %}. 
        Si los padres fallecieran sin venderla, cada {% if julia %}
        {% if luisa %}
            hija
        {% else %}
            hijo
        {% endif %}
        {% else %}
            hijo   
        {% endif %} recibiría un poco menos de 100 millones.</p> 
        <p>Si venden la casa, los padres obtienen el dinero que necesitan para pagar sus necesidades. 
        Pero seguirían <i>necesitando la ayuda de una persona durante 8 horas a la semana para hacer ciertas tareas.</i></p> 

        </div>
        {% next_button %}
        {% endblock %}
