{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block title %}
    {% trans "Pregunta 10" %}
{% endblock %}

{% block content %}

<div class="wrapper">
    <p>
        Si {% if julia %}
            Julia
        {% else %}
            Julio
        {% endif %} puede comprar la casa, pero {% if julia %}
            ella
        {% else %}
            el
        {% endif %} no tiene tiempo para ayudar a los padres, ¿qué debería hacerse en este caso? 
    </p>
    <table>
        <tr style="text-align: center; vertical-align: middle;">
            <td style="width: 20px; text-align: center; vertical-align: middle;">
                <input type="radio" id="opc1" name="p10" value="1" required="">
            </td><td style="text-align: left; vertical-align: middle;">
                <label for="opc1">No se le debería vender la casa a {% if julia %}Julia{% else %}Julio{% endif %}, pues no tiene tiempo para cuidar a los padres.</label><br>
            </td>
        </tr>
        <tr style="text-align: center; vertical-align: middle;">
            <td style="width: 20px; text-align: center; vertical-align: middle;">
                <input type="radio" id="opc2" name="p10" value="2" required="">
            </td><td style="text-align: left; vertical-align: middle;">
                <label for="opc2">{% if julia %}Julia{% else %}Julio{% endif %} debería poder comprar la casa, y {% if luisa %}Luisa{% else %}Luis{% endif %} podría cuidar a los padres sin necesidad de recibir dinero de parte de {% if julia %}Julia{% else %}Julio{% endif %}.</label><br>
            </td>
        </tr>
        <tr>
            <td style="width: 20px; text-align: center; vertical-align: middle;">
                <input type="radio" id="opc3" name="p10" value="3" required="">
            </td><td style="text-align: left; vertical-align: middle;">
                <label for="opc3">{% if julia %}Julia{% else %}Julio{% endif %}  debería poder comprar la casa, y pagarle a {% if luisa %}Luisa{% else %}Luis{% endif %} para que {% if luisa %}ella{% else %}el{% endif %} se encargue de poner las 8 horas a la semana de ayuda que necesitan los padres.</label><br>
            </td>
        </tr>
    </table>
</div>
{% next_button %}
{% endblock %}