{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
Encuesta
{% endblock %}

{% block content %}

<h4>Preguntas sobre su disposición a actuar de una determinada manera.</h4>
<br/><span> En una escala del 1 al 5, donde <b>1</b> significa que "no lo(a) describe en absoluto" y <b>5</b> significa que "lo(a) describe perfectamente", por favor díganos: </span>
    <br/>
<table class="table">
   <tr>
     <td class="td_q">¿Qué tan bien describe su situación o la de una persona conocida alguno de los casos anteriores?</td>
     <td class="d-flex">
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p11_1" id="op1" value="1"><br>
             <label class="form-check-label" for="op1">1</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p11_1" id="op2" value="2"><br>
             <label class="form-check-label" for="op2">2</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p11_1" id="op3" value="3"><br>
             <label class="form-check-label" for="op3">3</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p11_1" id="op4" value="4"><br>
             <label class="form-check-label" for="op4">4</label>
         </div>
         <div class="form-check">
             <input class="form-check-input" type="radio" name="p11_1" id="op5" value="5"><br>
             <label class="form-check-label" for="op5">5</label>
         </div>
     </td>
   </tr>
</table>
   <p><span style="color: #ff0000;">Escriba una frase para comentar la relación entre los 3 casos hipotéticos anteriores y situaciones de la vida real en las que los hijos deban ayudar a sus padres mayores:</span></p>
<textarea name="p11_2" id="p11_2" class="form-control text_input" placeholder="Coloque una frase aquí por favor" required style="margin-bottom: 10px;"></textarea>


{% next_button %}

{% endblock %}