{% extends "global/Page.html" %} {% load otree static %} 

{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'case2/css/styles.css' %}" rel="stylesheet">
    <!-- functions and more -->
    <script src="{% static 'case2/js/consistency.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('input[id=sliderDinero_p4]').on('input change', function () {
                $('input[id=sliderDinero_p4]').addClass('myclass');
            });
        });
    </script> 

    <style>
        .otree-btn-next{
            display: none !important;
        }
    </style>
{% endblock %}

{% block title %}
    Pregunta 4
{% endblock %}

{% block content %}
        <p> 
        Si cada {% if daniela %}
        {% if manuela %}
            hija
        {% else %}
            hijo
        {% endif %}
        {% else %}
            hijo    
        {% endif %}
        dedica 4 horas a la semana para ayudar a los padres. <br>
        ¿Cuánto dinero cree que debería poner cada 
        {% if daniela %}
        {% if manuela %}
            hija
        {% else %}
            hijo
        {% endif %}
        {% else %}
        hijo    
        {% endif %} para completar los $600.000 mensuales?
        </p>

        <p>
            <i>Haga clic sobre la línea y luego mueva el punto para decidir cuánto debería poner cada {% if daniela %}
                {% if manuela %}
                    hija
                {% else %}
                    hijo
            {% endif %}
            {% else %}
                hijo    
            {% endif %}.</i>
        </p>

        <!--slider --> 
        <div class="card_table" id="h-slider-div" style="text-align: center;">
            <div id="slider"></div>
            </div>
            
                    {{ form.check_slider_p4.errors }}
                    <div class="card_table" id="h-slider-div" style="text-align: center;">
                        <table class="table_question">
                            <tr>
                                <td class="text_slider"><b id="d_pa"> - </b></td>
                                <td class="td_slider" rowspan="2">
                                    <input type="range" name="p4" value="" min="0" max="600000" step="10000" id="sliderDinero_p4" class="slider_dinero" required>
                                    <input type="hidden" name="check_slider_p4" value="" id="id_check_slider_p4" required>
                                </td>
                                <td class="text_slider"><b id="d_pb"> - </b></td>
                            </tr>
                            <tr>
                                <td class="td_text_slider">{% if daniela %}
                                    Daniela
                                {% else %}
                                    Daniel
                                {% endif %}<br>gana 1.4 millones<br>ayuda <b>4</b> horas<br>a los padres</td>
                                <td class="td_text_slider">{% if manuela %}
                                    Manuela
                                {% else %}
                                    Manuel
                                {% endif %}<br>gana 2.8 millones<br>ayuda <b>4</b> horas<br>a los padres</td>
                            </tr>
                        </table>
                    </div>
        <!--slider --> 
    <br>    
    <p> Encima de cada nombre aparece el aporte que usted cree debería hacer cada 
        {% if daniela %}
            {% if manuela %}
                hija.
            {% else %}
                hijo.
            {% endif %}
            {% else %}
                hijo.    
            {% endif %}</p>
    {% next_button %} 
    {% endblock %}
