{% extends "global/Page.html" %} {% load otree static %} 

{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'case2/css/styles.css' %}" rel="stylesheet">
    <!-- functions and more -->
    <script src="{% static 'case2/js/consistency.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('input[id=sliderDinero_p5]').on('input change', function () {
                $('input[id=sliderDinero_p5]').addClass('myclass');
            });
        });
    </script> 

    <style>
        .otree-btn-next{
            display: none !important;
        }
    </style>
{% endblock %}

{% block title %}
    Pregunta 5
{% endblock %}

{% block content %}
        <p>
            En caso de que 
            {% if daniela %}
                Daniela
            {% else %}
                Daniel
            {% endif %} sea quien dedique las 8 horas a la semana necesarias para ayudar a los padres.<br> 
            ¿Cuánto dinero cree que debería poner cada 
        {% if daniela %}
        {% if manuela %}
            hija
        {% else %}
            hijo
        {% endif %}
        {% else %}
        hijo    
        {% endif %} para completar los $600.000 mensuales?
        </p>

        <p>
            <i>Haga clic sobre la línea y luego mueva el punto para decidir cuánto debería poner cada {% if daniela %}
                {% if manuela %}
                    hija
                {% else %}
                    hijo
            {% endif %}
            {% else %}
                hijo    
            {% endif %}.</i>
        </p>
        <!--slider --> 
        {{ form.check_slider_p5.errors }}
        <div class="card_table" id="h-slider-div" style="text-align: center;">
            <table class="table_question">
                <tr>
                    <td class="text_slider"><b id="d_pa"> - </b></td>
                    <td class="td_slider" rowspan="2">
                        <input type="range" name="p5" value="" min="0" max="600000" step="10000" id="sliderDinero_p5" class="slider_dinero" required>
                        <input type="hidden" name="check_slider_p5" value="" id="id_check_slider_p5"/>
                    </td>
                    <td class="text_slider"><b id="d_pb"> - </b></td>
                </tr>
                <tr>
                    <td style="text-align: center;">
        {% if daniela %}
            Daniela
        {% else %}
            Daniel
        {% endif %}<br>gana 1.4 millones<br>ayuda <b>8</b> horas<br>a los padres</td>
                    <td style="text-align: center;">
        {% if manuela %}
            Manuela
        {% else %}
            Manuel
        {% endif %}<br>gana 2.8 millones<br>ayuda <b>0</b> horas<br>a los padres</td></td>
                </tr>
            </table>
        </div>
        <!--slider --> 
    <br>    
    <p> Encima de cada nombre aparece el aporte que usted cree debería hacer cada 
        {% if daniela %}
            {% if manuela %}
                hija.
            {% else %}
                hijo.
            {% endif %}
            {% else %}
                hijo.    
            {% endif %}</p>
    {% next_button %} 
    {% endblock %}

