{% extends "global/Page.html" %} {% load otree static %} 

{% block scripts %}
    <!-- custom style sheet-->
    <link href="{% static 'case2/css/styles.css' %}" rel="stylesheet">
    <!-- functions and more -->
    <script src="{% static 'case2/js/consistency.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('input[id=sliderDinero_p4]').on('input change', function () {
                $('input[id=sliderDinero_p4]').addClass('myclass');
            });
            $('input[id=sliderDinero_p5]').on('input change', function () {
                $('input[id=sliderDinero_p5]').addClass('myclass');
            });
            $('input[id=sliderDinero_p6]').on('input change', function () {
                $('input[id=sliderDinero_p6]').addClass('myclass');
            });
            $('input[id=sliderDinero_p7]').on('input change', function () {
                $('input[id=sliderDinero_p7]').addClass('myclass');
            });
        });
    </script> 

    <style>
        .otree-btn-next{
            display: none !important;
        }
    </style>
{% endblock %}

{% block title %}
    Pregunta 7
{% endblock %}

{% block content %}

    <p>{% if daniela %}
        Daniela
    {% else %}
        Daniel
    {% endif %}  y {% if manuela %}
        Manuela
    {% else %}
        Manuel
    {% endif %} dedican cada  {% if daniela %}
{% if manuela %}
    una
{% else %}
    uno
{% endif %}
{% else %}
    uno    
{% endif %} 4 horas a la semana para ayudar a los padres.
<br> 
    {% if daniela %}
        Daniela
    {% else %}
        Daniel
    {% endif %} cambió de trabajo y ahora gana en promedio lo mismo que {% if manuela %}
        Manuela.
    {% else %}
        Manuel.
    {% endif %} Es decir, ambos             
    {% if daniela %}
    {% if manuela %}
        hijas
    {% else %}
        hijos
    {% endif %}
    {% else %}
        hijos    
    {% endif %} ganan en promedio $2’800.000.
    <br>
    {% if manuela %}
        Manuela
    {% else %}
        Manuel
    {% endif %} gana todos los meses $2’800.000, pero el ingreso de {% if daniela %}
        Daniela
    {% else %}
        Daniel
    {% endif %} <b>CAMBIA todos los meses</b> por el tipo de trabajo que tiene. {% if daniela %}
        Daniela
    {% else %}
        Daniel
    {% endif %} puede ganar $1’800.000, $2’800.000 o $3’800.000 dependiendo del mes.
    <br>
    ¿Cuánto dinero cree que debería poner cada 
    {% if daniela %}
    {% if manuela %}
        hija
    {% else %}
        hijo
    {% endif %}
    {% else %}
        hijo    
    {% endif %} para completar los $600.000 mensuales?</p>

    <p>
        <i>Haga clic sobre la línea y luego mueva el punto para decidir cuánto debería poner cada {% if daniela %}
            {% if manuela %}
                hija
            {% else %}
                hijo
        {% endif %}
        {% else %}
            hijo    
        {% endif %}.</i>
    </p>
        <!--slider --> 
        {{ form.check_slider_p7_1.errors }}
        <div class="card_table" id="h-slider-div" style="text-align: center;">
            <table class="table_question">
                <tr>
                    <td class="text_slider"><b id="d_pa"> - </b></td>
                    <td class="td_slider" rowspan="2">
                        <input type="range" name="p7_1" value="" min="0" max="600000" step="10000" id="sliderDinero_p7" class="slider_dinero" required>
                        <input type="hidden" name="check_slider_p7_1" value="" id="id_check_slider_p7_1"/>
                    </td>
                    <td class="text_slider"><b id="d_pb"> - </b></td>
                </tr>
                <tr>
                    <td style="text-align: center;">
        {% if daniela %}
            Daniela
        {% else %}
            Daniel{% endif %}<br>gana 2.8 millones<br>en promedio, con<br>ingreso cambiante</td>
                    <td style="text-align: center;">{% if manuela %}
            Manuela
        {% else %}
            Manuel
        {% endif %}<br>gana 2.8 millones<br>todos los meses</td>
                </tr>
            </table>
        </div>
        <!--slider --> 
        <br>       
        <p> Encima de cada nombre aparece el aporte que usted cree debería hacer cada 
            {% if daniela %}
                {% if manuela %}
                    hija.
                {% else %}
                    hijo.
                {% endif %}
                {% else %}
                    hijo.    
                {% endif %}</p>

    <p><span style="color: #ff0000;">Escriba una frase para justificar su respuesta:</span></p>
        <textarea name="p7_2" id="p7_2" class="form-control text_input" placeholder="Coloque una frase aquí por favor" required></textarea>
    {% next_button %} 
    {% endblock %}
